*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 150vh;
    /*background: moccasin;*/
    display: flex;
    align-items: center;
    justify-content: center;
    /*background: #e3f9ff;*/
    background-image: url("pexels-photo-743986.webp");
}

.cal{
   background: #3a4452;
    padding: 20px;
    border-radius: 10px;
}

.cal form input{
    border: 0;
    outline: 0;
    width: 80px;
    height: 65px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgb(255, 255, 255, 0.1), 5px 5px 15px rgb(0, 0, 0, 0.2);
    background: transparent;
    font-size: 25px;
    color: #fff;
    cursor: pointer;
    margin: 10px;
}

form .display{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}

form .display input{
    text-align: right;
    flex: 1;
    font-size: 45px;
    box-shadow: none;
}

form input.equal{
   width: 130px;
    background: blue;
    font-size: 32px;
    font-weight: bold;
}

form input.firstDiv{
    background: lightpink;
    color: #2f9fff;
}

form input.operators{
    background: blueviolet;
    width: 130px;
    font-size: 32px;
    font-weight: bold;
}